@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);
@import url(font-awesome.min.css);

/** Reset */
* {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: relative;
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

img {
    display: block;
}

/** Overall */
body {
    font-family: 'Lato', Sans-Serif, Arial;
    font-size: 16px;
    color: #606060;
    background: #f4f4f4;
}

.the-wrap {
    width: 1236px;
    margin-left: auto;
    margin-right: auto;
}

@media all and (max-width: 1236px) {

    .the-wrap {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

}

.content-row {
    display: block;
    width: 100%;
    font-size: 0;
}

.content-row .content-col-1 {
    display: inline-block;
    width: 10%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-2 {
    display: inline-block;
    width: 20%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-25 {
    display: inline-block;
    width: 25%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-3 {
    display: inline-block;
    width: 30%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-4 {
    display: inline-block;
    width: 40%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-5 {
    display: inline-block;
    width: 50%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-6 {
    display: inline-block;
    width: 60%;
    font-size: 14px;
    vertical-align: top;
}

@media (max-width: 768px) {
    .content-row .content-col-6 {
        width: auto;
        margin-right: 10px;
    }

    .content-row .content-col-2 {
        width: 100%;
    }
}

.content-row .content-col-7 {
    display: inline-block;
    width: 70%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-8 {
    display: inline-block;
    width: 80%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-9 {
    display: inline-block;
    width: 90%;
    font-size: 14px;
    vertical-align: top;
}

.content-row .content-col-10 {
    display: inline-block;
    width: 100%;
    font-size: 14px;
    vertical-align: top;
}

@media all and (max-width: 960px) {

    .content-row .content-col-m-10 {
        width: 100% !important;
    }

}

@media screen and (max-width: 768px) {

    .content-row .content-col-7 {
        width: 100%;
        clear: both;
    }

    .content-row .content-col-3 {
        width: 100%;
        clear: both;
    }
}

/** The Header */
.the-header {
    display: block;
    width: 100%;
    height: 520px;
}

.is-home {
    background: #d7d7d7;
}

.is-home .the-header {
    height: 820px;
    background: url(../img/home-header2-min.jpg) transparent no-repeat;
    background-size: cover;
    background-position: bottom;
}

/** The Navbar */
.the-navbar {
    display: block;
    width: 100%;
    height: 80px;
    line-height: 80px;
    top: 40px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #eaeaea;
}

.the-navbar .the-navbar-logo {
    float: left;
    display: block;
    width: 98px;
    height: 76px;
    background: url(../img/logo.png) no-repeat;
    background-size: 98px 76px;
}

.the-navbar .the-navbar-logo a {
    display: block;
    width: 98px;
    height: 76px;
}

.the-navbar .the-navbar-menu {
    float: right;
}

#navbar-collapse-1 {
    float: left;
}

.the-navbar .the-navbar-menu li {
    float: left;
    font-size: 17px;
    color: #fff;
    text-transform: uppercase;
}

.navbar-toggle {
    border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
    height: 3px;
    width: 28px;
    border-radius: 0;
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px;
}

.the-navbar .the-navbar-menu li a {
    color: #fff;
    text-decoration: none;
    line-height: 50px;
    padding-left: 10px;
}

.the-navbar .the-navbar-menu li.the-navbar-signin-btn a {
    display: inline;
    border: 2px solid #fff;
    border-radius: 4px;
    padding-top: 12px;
    padding-left: 44px;
    padding-right: 44px;
    padding-bottom: 12px;
}

.the-navbar .the-navbar-menu li.the-navbar-user {
    font-size: 17px;
    font-weight: 400;
    text-transform: none;
    margin-left: 15px;
}

.the-navbar .the-navbar-menu li.the-navbar-user i.fa-user {
    margin-right: 10px;
}

.the-navbar .the-navbar-menu li.the-navbar-user i.fa-times {
    margin-left: 20px;
}

/** The Header Room Bottom Bar */
.the-header-room-bottom-bar {
    position: relative;
    margin-top: -80px;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    background: rgba(8, 15, 25, .5);
    bottom: 0;
}

.searchback {
    position: relative;
    width: 100%;
    height: 80px;
    line-height: 80px;
    font-size: 14px;
    background: rgba(8, 15, 25, .5);
    margin-top: -80px;
    text-align: center;
}

.searchback input[type="text"], .searchback input[type="number"] {
    padding: 15px 30px 15px 30px;
    border: none;
    font-size: 14px;
    color: #555555;
    height: 42px;
    margin-top: 1px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-weight: 400;
    line-height: 16px;
    margin-left: -3px;
    outline: none;
}

.searchback input[type="text"]:focus {
    background: #f6f6f6;
}

.searchback input[name="number_of_people"] {
    border-left: 1px solid #d7d7d7;
}

.searchback input[name="booking_date"] {
    border-right: 1px solid #d7d7d7;
}

.searchback input[type="text"]:first-child {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.searchback button {
    background: #DD4132;
    color: #fff;
    text-transform: uppercase;
    border: none;
    padding: 14px 30px 14px 30px;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    -webkit-border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    -moz-border-radius-bottomright: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    height: 42px;
    line-height: 15px;
    margin-left: -3px;
    display: inline-block;
    -webkit-transition: background 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
}

.searchback button:hover {
    background: #c31d20;
}

@media screen and (max-width: 768px) {
    .searchback {
        height: auto;
    }

    .searchback input[type="text"] {
        width: 90%;
        clear: both;
    }

    .searchback input[name="booking_date"] {
        width: 90%;
        clear: both;
    }

    .searchback input[type="text"]:first-child {
        -webkit-border-top-left-radius: 0px;
        -webkit-border-bottom-left-radius: 0px;
        -moz-border-radius-topleft: 0px;
        -moz-border-radius-bottomleft: 0px;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .searchback button {
        -webkit-border-top-right-radius: 0px;
        -webkit-border-bottom-right-radius: 0px;
        -moz-border-radius-topright: 0px;
        -moz-border-radius-bottomright: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

.ui-datepicker-header {
    background: #374054;
    padding: 10px;
    color: #fff;
    text-align: center;
    font-size: 14px;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#ui-datepicker-div {
    padding: 10px;
    margin-top: 5px;
    margin-left: -15px;
    z-index: 999 !important;
}

.ui-datepicker-calendar {
    background: #fff;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ui-datepicker-calendar tbody tr td {
    padding: 8px;
    font-size: 12px;
    color: #54708b;
    text-align: center;
    vertical-align: middle;
}

.ui-datepicker-calendar tbody tr td a {
    color: #54708b;
}

.ui-datepicker-calendar thead tr th {
    color: #9aaec1;
    font-size: 12px;
    padding: 8px;
}

.ui-datepicker-calendar tbody tr td:hover {
    background: #e9edf0;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.ui-datepicker-calendar tbody tr td.ui-datepicker-current-day {
    background: #374054;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    border-radius: 80px;
}

.ui-datepicker-calendar tbody tr td.ui-datepicker-current-day a {
    color: #fff;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}

.ui-icon {
    display: block;
    text-indent: -99999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .8em 0;
}

.ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 12px;
    z-index: 9999;
    width: 1.8em;
    height: 1.8em;
}

.ui-icon, .ui-widget-content .ui-icon {
    background-image: url("../img/calendararrows.png");

}

.ui-icon-circle-triangle-w {
    background-position: 0px 0px;
    width: 6px;
    height: 10px;
}

.ui-icon-circle-triangle-e {
    background-position: -6px 0px;
    width: 6px;
    height: 10px;
}

.ui-datepicker .ui-datepicker-next {
    right: 2px;
}

.ui-datepicker .ui-datepicker-prev {
    left: 10px;
}

.the-header-room-bottom-bar .the-left {
    color: #fff;
}

.navbar-default {
    background-color: transparent !important;
}

.navbar {
    border: none !important;
}

.nav-tabs {
    border-bottom: none;
}

.nav-tabs > li > a {
    padding: 15px 15px;
    border-radius: 0;
    border: none;
    color: #555555;
}

.nav-tabs > li {
    background: #f8f8f8;
    font-size: 16px;
    padding: 0;
}

.nav-tabs > li:hover a {
    background: #fff;
    border: none;
}

.nav-tabs > li.active {
    background: #fff;
}

.nav-tabs > li.active:before {
    content: "\f05d";
    position: absolute;
    font-family: FontAwesome;
    color: #e5cf88;
    left: 18px;
    top: 14px;
    font-size: 18px;
}

.nav-tabs > li.active {
    padding-left: 25px;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background: transparent;
    border: none;
    border-radius: 0;
    font-size: 16px;
    color: #374054;
}

.tab-content {
    background: #fff;
    padding: 40px;
}

.tab-content > p {
    font-weight: 400;
}

.tab-content h2 {
    font-size: 24px;
    color: #010101;
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tab-content input[type="checkbox"] {
    margin-right: 10px;
}

.tab-content p.middletext {
    margin-top: 10px;
    margin-bottom: 40px;
}

.greentext, .greentext strong {
    /* Replacing green with gray as per customer request */
    color: #606060 !important;
}

.goldentext, .goldentext strong {
    color: #e5c100 !important;
}

.silvertext, .silvertext strong {
    color: #9c9c9c !important;
}

.tab-content p.middletext span {
    font-weight: 300;
}

.the-header-room-bottom-bar .the-left a {
    color: #fff;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, .5);
}

a.goback {
    color: #555555;
    font-size: 14px;
    text-decoration: underline;
    background: url('../img/backarrow.png') no-repeat left center;
    padding-left: 20px;
    -webkit-background-size: 12px 10px;
    background-size: 12px 10px;
}

.paymentinfo {
    margin-top: 30px;
}

.paybuttons {
    margin-top: 30px;
    margin-bottom: 30px;
}

.termsbutton {
    text-align: center;
    margin-top: 30px;
}

.paybuttons a, .termsbutton a {
    display: inline-block;
    background: #374054;
    padding: 10px 20px 10px 20px;
    text-align: center;
    color: #fff;
    font-size: 11px;
    text-transform: uppercase;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: background 150ms ease-in-out;
    -moz-transition: background 150ms ease-in-out;
    -o-transition: background 150ms ease-in-out;
    transition: background 150ms ease-in-out;
    outline: none;
}

.paybuttons a:hover, .termsbutton a:hover {
    background: #9a9f9d;
    text-decoration: none;
}

.paymentside {
    background: #dadcdf;
    text-align: center;
    color: #606060;
    padding: 40px;
}

.paymentside p {
    font-size: 14px;
}

.paymentside p.upper {
    font-size: 12px;
    text-transform: uppercase;
}

.paymentside h2 {
    font-size: 32px;
    font-weight: 300;
    margin-top: 10px;
}

.paymentbig {
    padding-left: 30px;
    padding-right: 30px;
    font-size: 14px;
}

.paymentbig h2 {
    font-weight: 300;
    color: #000000;
}

.paymentbig hr.line {
    background: none;
    height: 1px;
    border-top: 1px solid #d0d0d0;
    width: 100%;
    display: inline-block;
    margin-top: 7px;
}

.paymentbig table {
    width: 100%;
}

.paytablehead {
    color: #555555;
}

.paytablehead > .lefttext {
    text-align: left;
    padding-left: 0;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.paytablehead > .righttext {
    text-align: right;
    padding-right: 0;
    font-size: 16px;
    padding-bottom: 10px;
}

.paytablecontent > .lefttext {
    padding-left: 0;
}

.paytablecontent > .righttext {
    padding-right: 0;
}

.paytablecontent > .lefttext > p {
    font-size: 16px;
    color: #000;
    margin-bottom: 20px;
}

.paytablecontent > .righttext > p {
    font-size: 16px;
    color: #000;
    text-align: right;
    padding-right: 0;
    margin-bottom: 20px;
}

.paytablecontent p.infotext {
    font-size: 14px;
    color: #777777;
    width: 70%;
}

.the-header-room-bottom-bar .the-room-images-btn {
    height: 40px;
    line-height: 40px;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background: rgba(255, 255, 255, .15);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding-left: 20px;
    padding-right: 20px;
}

.the-header-room-bottom-bar .the-room-images-btn i {
    font-size: 14px;
    margin-right: 10px;
}

/** The Room View */
.the-room-view {
    background: #f4f4f4;
}

.the-room-view-content {
    display: block;
    float: left;
    width: 770px;
    padding-top: 40px;
    padding-bottom: 40px;
}

@media screen and (max-width: 1236px) {
    .the-room-view-content {
        width: 48%;
    }

}

.the-room-view input[type="time"] {
    display: inline-block;
    width: 100px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-size: 16px;
    color: #555;
    border: 1px solid #bdbdbd;

    outline: none;
    padding-top: 6px;
    padding-left: 20px;
    padding-bottom: 6px;
}

.the-room-view select {
    display: inline-block;
    width: 100px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-size: 16px;
    color: #555;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    outline: none;
    padding-top: 6px;
    padding-left: 20px;
    padding-bottom: 6px;
}

@media (max-width: 768px) {
    .the-room-view select {
        width: 75px;
    }

    #start_time, #end_time {
        padding: 13px 15px 12px 15px;
    }

    #the-room-view-header .content-col-3:nth-child(2), #the-room-view-header2 .content-col-3:nth-child(2) {
        padding-left: 0 !important;
        margin-top: 10px;
    }

    #calendar h2 {
        font-size: 14px !important;
    }

    .fc table {
        font-size: 0.9em !important;
    }
}

.whitebox {
    background: #fff;
    padding: 20px 40px;
}

.offertoemail {
    font-size: 25px;
}

@media (max-width: 768px) {
    .offertoemail {
        font-size: 16px;
    }
}

.whitebox h2 {
    font-weight: 300;
    font-size: 24px;
    color: #000;
}

.whitebox input[type="text"] {
    padding: 10px 20px 10px 20px;
    width: 100%;
}

.whitebox label {
    display: block;
    margin-top: 25px;
    margin-bottom: 10px;
}

label {
    font-weight: 400;
}

.whitebox .col-6 {
    width: 48%;
    display: inline-block;
    padding-right: 2%;
}

.the-room-view .the-room-datetime {
    display: block;
    white-space: nowrap;
    margin-top: 10px;
}

.notice {
    color: #606060;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
    padding: 15px 20px 5px 20px;
    border: 1px solid #dbdbdb;
    margin-top: 30px;
    margin-bottom: 30px;
}

.notice-left {
    text-align: left !important;

}

.the-room-view .the-room-datetime-arrow {
    color: #777;
    margin-left: 30px;
    margin-right: 30px;
}

@media (max-width: 768px) {
    .the-room-view .the-room-datetime-arrow {
        margin-left: 10px;
        margin-right: 10px;
    }
}

.the-room-view .the-room-booking-list {
    margin-top: 30px;
}

#start_time, #end_time {
    padding: 13px 25px 13px 25px;
    border: none;
    font-size: 14px;
    color: #555555;
    background: #fff;

    font-family: 'Lato', Sans-Serif, Arial;
    font-weight: 400;
    line-height: 16px;
    margin-left: -3px;

    -webkit-border-radius: none;
    -moz-border-radius: none;
    border-radius: none;
    -webkit-appearance: none;
    -webkit-border-radius: 0px;
    outline: none;
}

@-moz-document url-prefix() {
    #start_time, #end_time {
        padding: 11px 25px 11px 25px;

    }
}

@media (max-width: 768px) {
    #start_time, #end_time {
        padding: 13px 15px 12px 15px;
        -webkit-appearance: none !important;
    }
}

.the-room-view .the-room-booking-list i {
    font-size: 28px;
    color: #e5cf88;
    vertical-align: middle;
    margin-right: 10px;
    top: -1px;
}

.the-room-view .the-room-booking-list li {
    margin-bottom: 5px;
}

.the-room-view .the-room-booking-list .the-right {
    font-weight: 700;
}

.the-room-view hr {
    border: 0;
    border-top: 1px solid #dbdbdb;
}

.the-room-booking-next-btn, .get-offer-btn {
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #2A4B7C !important;
    border: 0;
    margin-top: 40px;
    margin-left: -40px;
    margin-bottom: -40px;
}

a.confirmorder {
    display: inline-block;
    border-radius: 0;
    padding: 15px 30px 15px 30px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #2A4B7C;
    border: 0;
}

a.confirmorder:hover {
    background: #2c3384;
}

a.emailoffer {
    display: inline-block;
    border-radius: 0;
    padding: 15px 30px 15px 30px;
    color: #606060;
    text-transform: uppercase;
    cursor: pointer;
    background: #dadcdf;
    border: 0;
}

@media (max-width: 768px) {
    a.emailoffer, a.confirmorder {
        margin-left: 0;
        width: 100%;
    }
}

.the-room-booking-next-btn:hover:not(.disable-next-step) {
    background: #e5cf88;
}

button.the-room-booking-previous-btn:hover, button.get-offer-btn:hover, button.save-additional-services-btn:hover, button.back-to-my-orders:hover {
    text-decoration: none !important;
}

button:hover {
    text-decoration: none !important;
}

.the-room-booking-previous-btn {
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #898e8c;
    border: 0;
    margin-top: 50px;
    margin-left: -40px;
    margin-bottom: -40px;
}

.back-to-my-orders {
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #898e8c;
    border: 0;
    margin-left: -40px;
}

.currentroom {
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #e5cf88;
    border: 0;
    text-align: center;
    margin-left: -40px;
    margin-bottom: 0px;
    position: relative;
}

.currentroom span {
}

.currentroom a {
    color: #fff;
    position: absolute;
    right: 40px;
    top: 0px;
}

.currentroom .fa-check-circle-o {
    position: absolute;
    left: 40px;
    top: 17px;
}

.currentroom .removeroom {
    position: absolute;
    right: 40px;
    top: 17px;
}

.anotherroom {
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    background: #bebebe;
    border: 0;
    text-align: center;
    margin-top: 5px;
    margin-left: -40px;
    margin-bottom: 5px;
    position: relative;
}

.anotherroom .fa-times {
    position: absolute;
    right: 40px;
    top: 17px;
}

.anotherroom:hover {
    text-decoration: none;
}

.addroom {
    color: #bebebe;
    border: 1px dashed #bebebe;
    position: relative;
    display: block;
    width: calc(100% + 80px);
    height: 50px;
    line-height: 50px;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    margin-top: 50px;
    margin-left: -40px;
    margin-bottom: -30px;
    background: none;
}

h2.calendarhead {
    margin-top: 25px;
}

.get-offer-btn {
    background: #1E90FF;
    height: 65px;
    line-height: 65px;
    margin-top: 30px;

}

.the-room-booking-next-btn:disabled {
    background: darkgrey;
    color: lightgrey;
}

.the-left {
    float: left;
}

.the-right, .the-right-exhibition {
    float: right;
}

.the-clear {
    clear: both;
}

.the-room-view-content > p {
    line-height: 1.5;
    font-weight: 300;
    font-size: 16px;
    color: #808080;
    margin-top: 20px;
    margin-bottom: 20px;
}

#the-room-view-header {
    margin-bottom: 40px;
}

#the-room-view-header2 {
    margin-bottom: 30px;
}

#the-room-view-header .content-col-3:nth-child(1), #the-room-view-header2 .content-col-3:nth-child(1) {
    padding-left: 20px;
}

#the-room-view-header .content-col-3:nth-child(2), #the-room-view-header2 .content-col-3:nth-child(2) {
    padding-left: 20px;
}

#the-room-view-header h1, #the-room-view-header2 h1 {
    font-weight: 400;
    font-size: 20px;
    line-height: 1;
    color: #000;
    margin-top: 0;
}

#the-room-view-header .h1-sub, #the-room-view-header2 .h1-sub {
    display: block;
    font-size: 16px;
    font-weight: 300;
    color: #808080;
    margin-top: 3px;
}

#the-room-view-header strong, #the-room-view-header2 strong {
    display: block;
    color: #000;
    font-weight: 400;
    font-size: 16px;
    margin-top: 10px;
}

.price_quant {
    font-size: 16px;
}

.the-room-view-quote {
    width: 100%;
    height: auto;
    line-height: 30px;
    font-size: 20px;
    color: #808080;
    text-align: center;
    border: 1px solid #ccc;
    padding: 15px 20px 15px 20px;
}

.payment-quote {
    background: white;
    width: 100%;
    height: auto;
    line-height: 30px;
    font-size: 20px;
    color: #808080;
    text-align: center;
    border: 1px solid #ccc;
    margin-bottom: 35px;
    padding: 15px 20px 15px 20px;
}

@media (max-width: 768px) {
    .payment-quote {
        margin-top: 15px;
    }
}

.the-room-content-title {
    font-weight: 400;
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.the-room-content-title-with-top-margin {
    margin-top: 40px;
}

#the-room-content-plans {
    margin-bottom: 5px;
}

#the-room-content-plans2 {
    margin-bottom: 10px;
}

#the-room-content-plans span, #the-room-content-plans2 span {
    font-weight: 400;
    font-size: 16px;
    color: #555;
    padding-left: 10px;
    top: -3.5px;
}

#the-room-content-plans i, #the-room-content-plans2 i {
    font-size: 24px;
    color: #57a535;
}

#the-room-extra .content-col-4,
#the-room-extra .content-col-6 {
    line-height: 1.2;
    font-size: 16px;
    font-weight: 400;
    color: #555;
}

.data-input-toggle-number {
    line-height: 1.8;
}

#the-room-extra input[type="checkbox"] {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-bottom: 17px;
}

#the-room-extra .content-col-6 {
    padding-right: 20px;
}

.hili {
    color: #606060;
}

#the-room-extra input[type="text"] {
    width: 35px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-size: 16px;
    font-weight: 700;
    color: #555;
    text-align: center;
    background: transparent;
    border: 0;
    outline: none;
}

#the-room-extra .input-minus,
#the-room-extra .input-plus {
    font-size: 14px;
    cursor: pointer;
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

#the-room-extra .input-plus {
    margin-right: 27px;
}

#the-room-extra em {
    display: block;
    font-size: 12px;
    font-style: normal;
    color: #aaa;
    margin-top: 30px;
}

.the-room-view-sidebar {
    display: block;
    float: right;
    width: 430px;
    background: #fff;
    border: 1px solid #e1e1e1;
    padding: 0px 40px 40px 40px;
}

@media screen and (max-width: 1236px) {
    .the-room-view-sidebar {
        width: 48%;
    }
}

.btn-sidebar {
    display: block;
    float: right;
    width: 362px;
    padding: 40px;
}

/** The Home View */
.the-home-view .content-col-3 {
    background: #898e8c;
}

.the-home-view {
    margin-top: -600px;
    margin-bottom: 50px;
}

.the-userbox-tabs {
    height: 60px;
}

.the-userbox-tabs ul {
    margin-bottom: 0;
}

.the-userbox-tabs li {
    display: block;
    float: left;
    width: 50%;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    background: #b4b7ba;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .the-home-view .content-col-7 {
        padding-right: 0 !important;
    }

    .the-userbox-tabs li {
        font-size: 16px;
    }
}

.the-userbox-tabs li.active {
    background: #898e8c;
}

.the-userbox-form {
    padding: 40px;
    padding-bottom: 0;
}

.the-userbox-form input {
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-size: 14px;
    color: #fff;
    border: 2px solid #b4b7ba;
    background: transparent;
    outline: none;
    padding-left: 17px;
    padding-right: 17px;
    margin-bottom: 20px;
}

.the-userbox-form input:focus,
.the-userbox-form input:active {
    background: #fff;
    color: #474e5f;
    border: 0;
}

.the-userbox-form p {
    display: block;
    width: 90%;
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin: 0 auto;

    margin-bottom: -20px;
}

.the-userbox-form input[type="submit"] {
    height: 60px;
    line-height: 60px;
    border: 0;
    font-size: 16px;
    font-weight: 700;
    background: #2A4B7C;
    border-radius: 3px;
    text-transform: uppercase;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    bottom: -50px;
}

@media screen and (max-width: 768px) {
    .the-userbox-form input[type="submit"] {
        font-size: 14px;
    }
}

.the-userbox-form input[type="submit"]:focus {
    color: #fff;
}

.the-home-view .content-col-7 {
    padding-right: 94px;
}

.the-home-view .content-col-7 h2 {
    line-height: 1;
    color: #fff;
    font-size: 58px;
    font-weight: 400;
    margin-top: 50px;
}

.the-home-view .content-col-7 p {
    font-size: 20px;
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
}

.the-home-view .content-col-7 .rooms {
    margin-top: 81px;
}

.the-home-view .content-col-7 .rooms li {
    float: left;
    width: calc(100% / 4);
    height: 150px;
    background: #fff;
    cursor: pointer;
}

.roomsindex {
    max-width: 1170px;
    margin: 0 auto;
    clear: both;
}

.roomsindex .rooms {
    margin-top: 40px;
    clear: both;
    padding-bottom: 80px;
}

.choosing {
    float: right;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: -44px;
    color: #333;
}

.choosing .active {
    color: #e5cf88;
    text-decoration: underline;
}

.choosing:hover {
    color: #e5cf88;
}

input.yourDate {
    border-left: none !important;
}

#textTotalNumOfPeople {
    border-right: none !important;
}

#textTotalNumOfPeople, input.yourDate {
    width: 100%;
    border: 1px solid #ccc;
    color: #555555;
    height: 43px;
    font-family: 'Lato', Sans-Serif, Arial;
    font-weight: 400;
    line-height: 16px;
    outline: none;
    text-align: center;
    padding: 0 0 0 0;
}

.no-gutter [class*="-6"] {
    padding-left: 0;
    padding-right: 0;
}

.roomsindex h1 {
    font-size: 32px;
    color: #080808;
    text-align: center;
    font-weight: 300;
    margin-top: 40px;
    margin-bottom: 5px;
}

.roomsindex p {
    text-align: center;
}

.info-block p {
    text-align: justify !important;
}

.roomsindex .rooms li {
    float: left;
    width: 33.3%;
    max-width: 375px;
    height: 340px;

    cursor: pointer;

    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
}

@media screen and (max-width: 768px) {
    .roomsindex .rooms li {
        margin-left: 0;
        margin-right: 0;
    }
}

.modal-header .close {
    z-index: 99;
    outline: none;
}

.modal-dialog {
    margin-top: 5%;
    overflow-y: initial !important;
}

#roomimages > .modal-dialog {
    margin-top: 5%;
}

.room-modal > .modal-content {
    padding: 40px;
}

#roomimages .modal-body {
    padding: 0;
}

.modal-header {
    border-bottom: none;
}

.modal-content {
    border: none;
    border-radius: 0;
}

#paymentmodal .modal-body .payment-methods a.cancel {
    text-align: left !important;
    font-size: 14px;
    text-decoration: underline;
    color: #555555;
    margin-bottom: 20px;
}

a.payment-method {
    border: 1px solid #d0d0d0;
    background: #2A4B7C;
    padding: 20px;
    text-align: center;
    clear: both;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    display: block;
    font-size: 14px;
    color: #000;
}

a.payment-method span.text-uppercase{
    font-weight: bold;
}
a.payment-method span {
    color: #fff;
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.payment-method img {
    margin: 0 auto;
}

#paymentmodal h1 {
    font-size: 32px;
    font-weight: 300;
    text-align: left;
    color: #000000;
    margin-top: 0;
}

#paymentmodal .modal-body {
    padding: 40px;
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

.invoice-information input {
    border-radius: 0;
}

#paymentmodal .modal-body .payment-methods p, #paymentmodal .modal-body .invoice-information p {
    text-align: center;
    color: #797979;
    font-size: 14px;
    margin-bottom: 30px;
}

.modal-content .close {
    position: absolute;
    right: -70px;
    top: -30px;
    width: 60px;
    height: 60px;
    filter: alpha(opacity=100);
    opacity: 1;
    text-shadow: none;
}

.modal-content .close:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.modal-content .close span {
    background: url('../img/close.png') no-repeat;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    display: block;
    width: 60px;
    height: 60px;
}

.modal-close {
    position: absolute;
    right: -70px;
    top: -30px;
    width: 60px;
    height: 60px;
    filter: alpha(opacity=100);
    opacity: 1;
    text-shadow: none;
    background: url('../img/close.png') no-repeat;
    -webkit-background-size: 60px 60px;
    background-size: 60px 60px;
    display: block;
    width: 60px;
    height: 60px;
    outline: none;
}

.modal-close:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.the-navbar .the-navbar-menu li.the-navbar-user {
    display: inline-block;
}

.the-navbar .the-navbar-menu li.the-navbar-user a {
    float: right;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 55%;

    }

    #paymentmodal .modal-dialog {
        max-width: 430px;
    }

    .room-modal {
        display: block;
        width: 55%;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        top: 20%;
    }
}

.modalout {
    background: #fff;
    width: 85%;
    margin: 0 auto;
    padding: 40px;
    margin-top: -50px;
}

@media screen and (max-width: 768px) {
    .the-home-view .content-col-7 .rooms li {
        width: calc(100% / 2);
    }

    .modalout {
        padding: 20px;
    }

    .the-navbar .the-navbar-menu li.the-navbar-user a {
        float: right;
        line-height: 10px;
        margin-right: 15px;
        margin-top: 21px;
    }

    .roomsindex .rooms li {
        width: 100%;
        max-width: 100%;
    }

    .the-home-view .content-col-7 h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    .the-home-view .content-col-7 p {
        font-size: 16px;
    }

    .modal-close {
        right: 0;
        top: -65px;
    }

    .room-modal {
        margin-top: 20%;
    }

    .the-navbar .the-navbar-menu li {
        float: none;
        display: block;
        color: #000;
    }

    .the-navbar .the-navbar-menu li a {
        color: #000;
    }

    .the-navbar .the-navbar-menu li a:hover {
        color: #333;
    }

    .the-navbar .the-navbar-menu {
        float: none;
    }

    .content-row .content-col-5 {
        width: 100%;
    }

    #roomimages > .modal-dialog {
        margin-top: 20%;
    }

    .modal-content .close {
        right: 0;
        top: -65px;
    }

    .the-navbar .the-navbar-menu li.the-navbar-user {
        margin-left: 27px;
        width: 90%;
    }

    .the-navbar .the-navbar-menu li.the-navbar-user a {
        margin-right: 5px;
    }

    .the-navbar .the-navbar-menu li.the-navbar-signin-btn a {
        display: inline;
        border: none;
        /* border-radius: 4px; */
        padding-top: 0;
        padding-left: 15px;
        padding-right: 0;
        /* padding-bottom: 12px; */
    }

    .the-header-room-bottom-bar {
        height: auto;
        line-height: 26px;
        margin-top: -80px;
        padding-bottom: 5px;
        padding-top: 10px;
        min-height: 80px;
    }

    .the-header {
        height: 470px;
    }

    .searchback {
        margin-top: -320px;
    }

    .content-row .content-col-4 {
        width: 100%;
    }

    .the-room-view-sidebar, .btn-sidebar {
        width: 100%;
    }

    .the-header-room-bottom-bar .the-room-images-btn {
        position: absolute;
        right: 20px;
        top: -80px;
        width: 180px;
    }

    .the-header-room-bottom-bar > .the-left {
        float: none;
        clear: both;
        font-size: 14px;
    }

    .the-header-room-bottom-bar > .the-right {
        float: none;
        clear: both;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .the-room-view-content {
        width: 100%;
    }

    .navbar-default .navbar-collapse {
        background: #fff;
    }

    .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none !important;
        box-shadow: none;
        z-index: 99;
    }
}

.the-home-view .content-col-7 .rooms li .room-layer {
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, .5);
    text-align: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
}

.roomsindex .rooms li .room-layer {
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, .5);
    text-align: center;
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;

}

.the-home-view .content-col-7 .rooms li:hover .room-layer {
    display: none;
}

.roomsindex .rooms li:hover .room-layer {
    display: none;
}

.the-home-view .content-col-7 .rooms li:nth-child(3) .room-layer,
.the-home-view .content-col-7 .rooms li:nth-child(4) .room-layer,
.the-home-view .content-col-7 .rooms li:nth-child(5) .room-layer,
.the-home-view .content-col-7 .rooms li:nth-child(6) .room-layer {
    padding-top: 40px;
    padding-bottom: 30px;
}

.the-home-view .content-col-7 .rooms li .room-layer-icon {
    display: inline-block;
    width: 50px;
    height: 30px;
    background: url(../img/room-layer-icon.png) no-repeat;
    background-size: cover;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

.roomsindex .rooms li .room-layer-icon {
    display: inline-block;
    width: 50px;
    height: 30px;
    background: url(../img/room-layer-icon.png) no-repeat;
    background-size: cover;
    float: right;
    margin-right: 10px;
    margin-top: 4px;
}

.the-home-view .content-col-7 .rooms li .room-layer-info {
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    color: #ececf0;
}

.roomsindex .rooms li .room-layer-info {
    text-align: left;
    text-transform: uppercase;
    font-size: 10px;
    color: #ececf0;
    text-decoration: none;
}

.the-home-view .content-col-7 .rooms li .room-layer-info span {
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-top: 5px;
    text-decoration: none;
}

.roomsindex .rooms li .room-layer-info span {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    color: #fff;
    text-decoration: none;
}

.roomsindex a.roomlinkabs {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 99;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    min-height: 240px;
}

.the-home-view .content-col-7 .rooms li .room-layer .content-row:nth-child(2) {
    margin-top: 40px;
}

.the-home-view .content-col-7 .rooms li:nth-child(3) .room-layer .content-row:nth-child(2),
.the-home-view .content-col-7 .rooms li:nth-child(4) .room-layer .content-row:nth-child(2),
.the-home-view .content-col-7 .rooms li:nth-child(5) .room-layer .content-row:nth-child(2),
.the-home-view .content-col-7 .rooms li:nth-child(6) .room-layer .content-row:nth-child(2) {
    margin-top: 20px;
}

.the-home-view .content-col-7 .rooms li .room-layer .content-col-10 {
    display: inline;
    font-size: 12px;
    color: #f2f2f5;
    padding-top: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid #fff;
    padding-bottom: 2px;
}

.roomsindex .rooms li .room-layer .viewmore {
    display: block;
    margin-top: 25%;
}

.roomsindex .rooms li .room-layer .content-col-10 {
    display: inline;
    clear: both;
    border-bottom: 1px solid #fff;
    font-size: 12px;
    color: #f2f2f5;
    text-transform: uppercase;

}

.the-home-view .content-col-7 .rooms li:nth-child(1),
.the-home-view .content-col-7 .rooms li:nth-child(2) {
    width: 50%;
    height: 200px;
}

.the-home-view .content-col-7 .rooms li.room-paike {
    background: url(../img/pohjasara.jpg) no-repeat;
    background-size: cover;
}

.roomsindex .rooms li.room-paike {

    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-paike .room-layer {
    background: rgba(161, 171, 195, .8);
}

.roomsindex .rooms li.room-paike .room-layer {
    background: rgba(161, 171, 195, .8);
}

.the-home-view .content-col-7 .rooms li.room-eeter {
    background: url(../img/room-eeter.jpg) no-repeat;
    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-eeter .room-layer {
    background: rgba(119, 125, 217, .8);
}

.the-home-view .content-col-7 .rooms li.room-ohk {
    background: url(../img/room-ohk.jpg) no-repeat;
    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-ohk .room-layer {
    background: rgba(76, 163, 232, .8);
}

.the-home-view .content-col-7 .rooms li.room-tuli {
    background: url(../img/room-tuli.jpg) no-repeat;
    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-tuli .room-layer {
    background: rgba(221, 162, 102, .8);
}

.the-home-view .content-col-7 .rooms li.room-maa {
    background: url(../img/room-maa.jpg) no-repeat;
    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-maa .room-layer {
    background: rgba(226, 116, 65, .8);
}

.the-home-view .content-col-7 .rooms li.room-vesi {
    background: url(../img/room-vesi.jpg) no-repeat;
    background-size: cover;
}

.the-home-view .content-col-7 .rooms li.room-vesi .room-layer {
    background: rgba(11, 116, 138, .8);
}

.roomsindex .rooms li.vesi .room-layer {
    background: rgba(11, 116, 138, .8);
}

.roomsindex .rooms li.maa .room-layer {
    background: rgba(226, 116, 65, .8);
}

.roomsindex .rooms li.tuli .room-layer {
    background: rgba(221, 162, 102, .8);
}

.roomsindex .rooms li.paike .room-layer {
    background: rgba(161, 171, 195, .8);
}

.roomsindex .rooms li.ohk .room-layer {
    background: rgba(76, 163, 232, .8)
}

.roomsindex .rooms li.eeter .room-layer {
    background: rgba(119, 125, 217, .8);
}

.roomsli, .wholestudio {
    height: 240px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.roomcapacity {
    padding: 20px 20px 15px 20px;
    border: 1px solid #cccccc;
    display: block;
    text-align: left;
    margin-top: -1px;
    background: #f4f4f4;
}

.roomcapacity p {
    color: #4c4c4c;
    font-size: 16px;
    text-align: left;
}

/** Modal */
.modal-container {
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, .5);
    position: fixed;
    top: 0;
    left: 0;
}

footer {
    clear: both;
    padding: 20px 0 40px 0;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    color: #2b3346;
}

/***** Conditions button style (circle) *****/
.circle {
    margin-right: 5px;
    float: left;
    width: 150px;
    position: relative;
    display: block;
    background-color: transparent;
    text-align: center;
}

.circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    border: 1px solid black;
    content: "";
}

.circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.circle__content:hover {
    color: #e5cf88;
}

.circle__content {
    font-size: 0.8em;
    display: table-cell;
    padding: 1px;
    vertical-align: middle;
    color: #374054;
}

.paymentside-wrapper {
    height: 600px;
    float: left;
    width: 25%;
}

.word-read {
    color: #63ac44;
}

.no-padding {
    padding: 0 !important;
}

.glow {
    border-top: 2px solid #e5cf88 !important;
    border-bottom: 2px solid #e5cf88 !important;
}

.cookiesAgreement {
    background-color: #fafafa;
    color: #777;
    border-bottom: 2px solid #374054;
    padding: 20px 50px;
    text-align: center;
    font-size: 12px;
    letter-spacing: 0.04em;
    line-height: 16px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.cookiesAgreement .cookiesAgreementClose {
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    height: 27px;
    width: 27px;
    color: #343434;
    font-size: 20px;
}

.cookiesAgreement .cookiesAgreementClose:hover {
    color: #d4ccd8;
}

@media only screen and (max-width: 991px) {
    .cookiesAgreement .cookiesAgreementClose {
        right: auto;
        left: 10px;
    }
}

/* Don't let the user select anything inside the modal body */
#conditions-modal .modal-body {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.steps-container {
    overflow: hidden;
    margin-top: 90px;
    white-space: nowrap;
    width: 100%;
    text-align: center;
    color: white;
    font-weight: 600;
    font-size: 18px;
    padding-left: 40px;
}

.steps {
    position: relative;
    display: inline-block;
    left: -28px; /* -2px default + 26px offset to hide skewed area on the left side of first element*/
    height: 50px;
    line-height: 50px;
    margin-left: 0px;
    margin-right: 0px;
    cursor: pointer;
    transition: background 1s;
    min-height: 30px;
}

.steps span {
    display: block;
    padding-left: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 75%;
    vertical-align: middle;
    color: rgba(255, 255, 255, 1);;
    font-weight: 600;
}

.steps.active span {
    font-weight: bold;
}

.disable-next-step,
html input[disabled] {
    cursor: default;
    background: #e5cf88;
}

.tooltip.top > .tooltip-arrow {
    border-top-color: #2E4A62;
}

.tooltip > .tooltip-inner {
    background-color: #2E4A62;
}

.btn-primary {
    color: #fff;
    background-color: #eadedb !important;
    border-color: #eadedb !important;
}

.btn-ovaal {
    background: #e4ce8c;
}

.form-control {
    color: #444444;
}

.heading-whole-studio {
    background-color: #2A4B7C
}
